<div id="mainCarousel" class="carousel slide animate__animated animate__fadeIn" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="resources/img/img1.png" alt="Tree Cutting">
      <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded">
        <h5>Professional Tree Cutting</h5>
        <p>Safe and efficient tree removal for your property.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="resources/img/img2.png" alt="Landscaping">
      <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded">
        <h5>Beautiful Landscaping</h5>
        <p>Transform your yard into a green paradise.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="resources/img/img3.png" alt="Stump Removal">
      <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded">
        <h5>Stump Removal</h5>
        <p>Complete removal of tree stumps and roots.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>